<nav class='navbar navbar-light' style='background-color:#3e3d3d;'>
  <a class='navbar-brand' href='/'><span style='color:blueviolet'>Ya</span><span style='color:white'>tube</span></a>
  <nav class='my-2 my-md-0 mr-md-3'>
    {% if user.is_authenticated %}
    <span style='color:white'>Пользователь: <a href='{% url 'profile' user %}'>{{ user.username }}</a></span>

    <a class='p-2 text-white' href='{% url 'password_change' %}'>Изменить пароль</a>
    <a class='p-2 text-white' href='{% url 'logout' %}'>Выйти</a>
    <a class='p-2 text-white' href='{% url 'new_post' %}'>Создать пост</a>
    {% else %}
    <a class='p-2 text-white' href='{% url 'login' %}'>Войти</a> |
    <a class='p-2 text-white' href='{% url 'signup' %}'>Регистрация</a>
    {% endif %}
  </nav>
</nav>

