{% extends "base.html" %}
{% block header %}{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
               <span style="color:blueviolet">О</span>б авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Доброго времени суток. Меня зовут Илья. Мне 25 лет, живу  в СПБ.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p><a href="https://github.com/il-mo">Ссылка на github</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}